* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAV BAR*/
li,
a {
    font-family: "Geologica";
    font-weight: 200;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #ffffff;
}

.logo {
    width: 34px;
    height: auto;
    cursor: pointer;
    margin-right: auto;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, .3));
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 8px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #f27059;
}

.hamburger {
    position: relative;
    appearance: none;
    display: none;
    width: 35px;
    cursor: pointer;
    color: black;
    height: 35px;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f25c54;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 7px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    display: block;
    top:0;
    left:100%;
    width:100%;
    min-height:100vh;
    z-index:98;
    background-color: rgb(252, 252, 252);
    margin-top:57px;
    transition:0.4s;
}

.mobile-nav a {
    display:block;
    text-align: center;
    width:100%;
    max-width: 200px;
    margin:0 auto 16px;
    padding:12px 16px;
    background-color: #f25c54;
    margin-top: 30px;
    color:white;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #f7b267;
    color:black;
}

.mobile-nav.is-active{
    left:0;
}
/*HERO IMAGE*/
.img-container {
    background-image: url('../hwk01/hwk01\ images/bck6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}

.inner-container {
    text-align: center;
    position: absolute;
    width: 100%;
    color: #f25c54;
    height: auto;
    margin-top: 100px;
}

.heroImg {
    margin: auto;
    width: 800px;
    max-height: auto;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, .3));
}

.heroTitle {
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.heroSubtitle {
    color: black;
    margin-top: 20px;
    font-size: 26px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    font-family: "Geologica";
    font-weight: 300;
    margin-bottom: 30px;
}
.buttonDiv{
    margin:auto;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding:20px;
    margin-top:10px;
    width:89%;
}
.goBack {
    background-image: linear-gradient(to right, #f7b267 0%, #f25c54 51%, #f7b267 100%);
    background-size: 200%;
    font-size: 20px;
    display: inline-block;
    width: 120px;
    height: 40px;
    font-weight: bold;
    padding: 7px;
    color: black;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    border-radius: 10px;
    transition: 0.5s;
    border: none;
    vertical-align: middle;
    font-family: "Geologica";
    font-weight: 300;
    text-align: center;
    
}

input {
    font-family: "Geologica";
    font-weight: 200;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-right: 20px;
}

.goBack:hover {
    background-position: right center;
    color: white;
    cursor: pointer;
}
/*IMAGES*/
.thumbnailHeader {
    font-size: 50px;
    font-family: "Geologica";
    font-weight: 300;
    text-align: center;
    margin: auto;
    padding: 15px;
    margin-top: 30px;
}

.thumbnailContainer {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:60%;
}

.thumbnailContainer img {
    width: 50px;
    height: auto;
    border-radius: 40px;
    border: 5px solid #f25c54;
    padding: 5px;
    margin-top: 30px;
}

.thumbnailContainer img:hover {
    border: 5px solid #f7b267;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.thumbnailContainer figcaption {
    font-family: "Geologica";
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}


/*GRID*/
/* .gridContainer{
    width:70%;
    height:auto;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
 

    margin: 0 auto;
    grid-auto-flow: row;
    grid-gap: 2em 2em;
}
/*
.gridContainer div{
  border-style: solid;
   border-color: blue;
}*/



/*FOOTER*/
footer {
    font-family: "Geologica";
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    margin-top: 50px;
    background-color: #f27059;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

/*NEW GRID CONTAINER*/
.gridContainer{
    width: 70%;
    height:auto;
    display: flex;
    margin:0 auto;
    column-gap: 10%;
    margin-top: 30px;
}

.item-2{
    width:50%;
}
.item-2 img{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item-1{
    width:50%;
}
.item-1 h1{
    font-family: "Geologica";
    font-weight:300;
    font-size:50px;
}
.item-1 p{
    font-family: "Geologica";
    font-weight:200;
    font-size:30px;
}
.recipeSubhead{
    font-style: italic;
}

/*DETAILS INGREDIENTS FLEX*/
.det_ing_img_div{
    width: 70%;
    height:auto;
    display: flex;
    margin:0 auto;
    /* column-gap: 10%; */
    margin-top: 30px;
    column-gap: 10%;
}

.ing_img{
    width:50%;
}
.ing_img img{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
}

.det_ing{
    width:50%;
}
.det_ing h1{
    font-family: "Geologica";
    font-weight:300;
    font-size:50px;
}
.det_ing p{
    font-family: "Geologica";
    font-weight:200;
    font-size:30px;
}

/*STEPS HEADER*/
.stepsHeader h1{
    font-family: "Geologica";
    font-weight:300;
    font-size:50px;
    margin:0 auto;
    justify-content: center;
    text-align: center;
    padding:80px;
}

/*FLEx CONTAINER NEW*/
.flexContainer{
    width: 70%;
    height:auto;
    display: block;
    margin:0 auto;
    /* column-gap: 10%; */
    column-gap: 10%;
}

.flexContainer p{
    font-family: "Geologica";
    font-weight:200;
    font-size:30px;
    text-align: left;
    width:70%;
    margin:0 auto;
    justify-content: center;
    margin-top:40px;
    margin-bottom: 80px;
}

.flexContainer img{
    width:70%;
    margin:auto;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1920px) {
    .logo {
        margin-left: -20px;
    }

    .nav_links li {
        margin-right: -20px;
        padding: 0px 25px;
    }
}

@media only screen and (max-width: 1550px) {
    .gridContainer,.det_ing_img_div{
        width: 90%;
        column-gap:4%;
    }
    .flexContainer{
        width:90%;
    }
}

@media only screen and (max-width: 1274px) {
    .gridContainer,.det_ing_img_div{
        width:95%;
        column-gap:0px;
    }
    .item-2 img,.ing_img img{
        max-width:80%;
    }
    .item-1,.det_ing{
        padding:8px;
        margin-top: -15px;
    }
    .item-1 h1,.det_ing h1,.stepsHeader h1,.flexContainer h1{
        font-size:40px;
    }
    .item-1 p,.det_ing p,.flexContainer p{
        font-size: 25px;
    }
    .stepsHeader{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}




@media only screen and (max-width: 1000px) {

    .nav_links li {
        display: none;
        margin-right: -80px;
        padding: 0px 57px;
    }

    .hamburger {
        display: inline-block;
    }

    .hamburger_links li a {
        display: block;
    }

    .logo {
        margin-left: 0px;
        margin-right: auto;
    }

    .gridContainer,.det_ing_img_div{
        display:block;
        width:100%;
        margin-top: 0px;
    }
    .item-1,.item-2,.det_ing,.ing_img{
        width:100%;
        margin:0 auto;
        align-items: center;
        justify-content: center;
    }
    .flexContainer img{
        width:85%;
    }
    .flexContainer p{
        width:85%;
    }
    .item-2 img,.ing_img img{
        width:100%;
    }
    .item-1,.det_ing{
        padding:3%;
        margin-top:8px;
    }
    .det_ing{
        padding:9%;
        margin-top:-20px;
    }
    .buttonDiv{
        width:85%;
        margin-bottom: 10px;
    }
    .flexContainer{
        width:100%;
    }
    .stepsHeader h1{
        padding-top:10px;
    }
}

@media only screen and (max-width: 650px){
    .item-1 h1,.det_ing h1,.stepsHeader h1{
        font-size: 25px;
    }
    .item-1 p,.det_ing p,.flexContainer p{
        font-size: 18px;
    }
    .buttonDiv{
        width:87%;
        margin-bottom: 10px;
    }
    .stepsHeader h1{
        padding-top:0px;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 540px) {
    .inner-container {
        margin-top: 150px;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 1.4em;
    }

    .btn {
        display: block;
        margin-top: 15px;
    }

    input {
        margin-right: auto;
    }
    .item-1 h1{
        font-size: 23px;
    }
    .item-1 p{
        font-size: 16px;
    }
    .buttonDiv{
        width:88%;
        margin-bottom: 0px;
        margin-top: -10px;
    }
    .goBack{
        width: 80px;
        height: 30px;
        font-size: 16px;
    }
    .stepsHeader h1{
        padding-top:30px;
        padding-bottom: 55px;
    }
}

@media only screen and (min-width: 320px) {
    .inner-container {
        margin-top: 150px;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 1.4em;
    }

    .heroImg {
        max-width: 90%;
    }
    .heroSubtitle {
        width: 90%;
        font-size: 17px;
    }
    .thumbnailHeader {
        font-size: 20px;
        margin-top: 10px;
    }

    .thumbnailContainer img {
        margin-top: 10px;
        width: 90%;
    }

    footer {
        font-size: 10px;
        padding: 10px;
        justify-content: center;
        margin-top: 13px;
    }

    .item-1{
        width:86%;
    }
}